.navbar{
    display: flex;
}

.navbar-brand{
    margin-left: 1rem;
}

.navbar .nav-link {
    color: black !important;
}

    .navbar .nav-link:hover {
        color: #000000 !important;
        text-decoration: underline;
    }

    .navbar .nav-link.active {
        color: black !important; /* text stays black */
        background-color: white !important; /* white background */
        border: 1px solid black !important; /* black border */
        border-radius: 4px; /* slight rounding like Bootstrap */
        font-weight: 500;
    }
