@page "/"
@rendermode InteractiveServer
@inject IStarShipService StarShipService

<PageTitle>Home</PageTitle>

<h1>Starships</h1>


<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="ToggleOffCreateStarShip"></button>
            </div>
            <div class="modal-body">
                <EditStarShip SaveShipCallback="@AddStarShip" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="ToggleOffCreateStarShip">Close</button>
            </div>
        </div>
    </div>
</div>


@if(_starShips is not null && _starShips.Count > 0)
{
    <Table StarShips="_starShips" />
}
else
{
    <p>Your fleet is empty Admiral! What would you like to do?</p>
    <button class="btn btn-primary" @onclick="FillFleet">Seed Database</button>
    <button class="btn btn-secondary" @onclick="CreateStarShip">Create a StarShip</button>
}

@code{
    private List<StarShipView> _starShips { get; set; } = new();
    private List<string> _filmUrls = new();
    private bool _creatingStarship = false;

    protected override async Task OnInitializedAsync()
    {
        @if(_starShips is null || _starShips.Count == 0)
        {
            _starShips = await StarShipService.GetAllAsync();
        }
    }

    private async Task FillFleet()
    {
        bool dbSeeded = await StarShipService.SeedDataBaseAsync();
        StateHasChanged();
    }

    private void CreateStarShip()
    {
        _creatingStarship = true;
    }

    private void ToggleOffCreateStarShip()
    {
        _creatingStarship = false;
        StateHasChanged();
    }

    public async Task AddStarShip(StarShipView ship)
    {
        bool shipSaved = await StarShipService.DbAddStarShipAsync(ship);
        _starShips.Clear();
        _starShips = await StarShipService.GetAllAsync();
        _creatingStarship = !shipSaved;
        StateHasChanged();
    }
}