@page "/"
@rendermode InteractiveServer
@inject IStarShipService StarShipService

<PageTitle>Home</PageTitle>

<h1>Starships</h1>

@if (_creatingStarship)
{
    
}

@if(_starShips.Count > 0)
{
    <ul>
        @foreach(var ship in _starShips)
        {
            <li>@ship.Name - @ship.Model</li>
        }
    </ul>
}
else
{
    <p>Your fleet is empty Admiral! What would you like to do?</p>
    <button class="btn btn-primary" @onclick="FillFleet">Seed Database</button>
    <button class="btn btn-secondary">Create a StarShip</button>
}

@code{
    private List<StarShipView> _starShips = new();
    private bool _creatingStarship = false;

    protected override async Task OnInitializedAsync()
    {
        @if(_starShips is null || _starShips.Count == 0)
        {
            _starShips = StarShipService.GetAll();
        }
    }

    private async Task FillFleet()
    {
        bool dbSeeded = await StarShipService.SeedDataBaseAsync();
        if(dbSeeded) _starShips = StarShipService.GetAll();
    }

    private void CreateStarShip()
    {
        _creatingStarship = true;
    }

    public async Task AddStarShip(StarShipView ship)
    {
        
    }
}